body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #4D49BF;

    /* Design Palette */
    --Melrose: #B5B0D9;
    --FreeSpeechBlue: #4D49BF;
    --MediumSlateBlueD: #6863F2;
    --MediumSlateBlueL: #9C99F2;
    --WhiteSmoke: #F2F2F2;
    --DarkGrey: #333;
    --DarkSilver: #555;
    --PictonBlue: #39C4E5;

    /* --Height: 3200px;
    --Width: 1440px; */

    /* --Height: 1280px;
    --Width: 720px; */

    --Height: 1136px;
    --Width: 640px;
}

.mockPhone {
    /* background-color: var(--MediumSlateBlueD); */
    transform: scale(0.8);
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px var(--MediumSlateBlueD), 2px 0 10px var(--MediumSlateBlueD);
    background-image: linear-gradient(to right, var(--FreeSpeechBlue) ,var(--MediumSlateBlueD) 10%, var(--MediumSlateBlueD) 80%, var(--FreeSpeechBlue));
}

.mockPhone .screen {
    width: var(--Width);
    height: var(--Height);
    border: 1px solid var(--DarkGrey);
}

#viber-app {
    background-color: var(--WhiteSmoke);
    width: 100%;
    height: 100%;
    position: relative;
}

#viber-app header{
    height: 7%;
    width: 100%;
    position: absolute;
    background-color: var(--WhiteSmoke);;
}

#viber-app section {
    height: 86%;
    width: 100%;
    position: absolute;
    background-color: var(--WhiteSmoke);
    position: relative;
    top: 7%;
}

#viber-app footer {
    height: 7%;
    width: 100%;
    position: absolute;
    background-color: var(--WhiteSmoke);;
    bottom: 0;
}

#viber-app .contacts {
    height: 100%;
}

#viber-app .contacts li {
    height: calc(100% / 8);
    border-top: 1px solid var(--DarkSilver);
    border-bottom: 1px solid var(--DarkSilver);
    box-sizing: border-box;
}

/* Dialog */

.contacts li a {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}

.contacts .dialog {
    width: 85%;
}

.contacts li a>div {
    display: table-cell;
    /* border: 2px solid red; */
}

.contacts li a .dialog img {
    /* width: 14%; */
    height: 80%;
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.contacts li a .dialog h2,
.contacts li a .dialog p {
    margin-left: 25%;
    margin-top: 2.5%;
}

.contacts li a .dialog h2 {
    font-weight: 700;
    font-size: 1.8em;
    color: black;
}

.contacts li a .dialog p {
    font-size: 1.6em;
    color: var(--DarkSilver);
    text-align: justify;
}

.contacts li a .dialog p:last-child {
    margin-top: 1%;
}

/* ------End Dialog ---------- */

/* Data */

.contacts .data .status {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 75px;
    color: var(--MediumSlateBlueD);
}

.contacts .data .time {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 25px;
    color: var(--DarkSilver);
}

.contacts .data .count {
    padding: 0.8em;
    line-height: 0;
    position: absolute;
    top: 30%;
    right: 25px;
    background-color: var(--MediumSlateBlueD);
    color: white;
    border-radius: 1em;
}

/* ------End Data ---------- */

/* Edit Child */

.contacts li:nth-child(3) .data .status,
.contacts li:nth-child(4) .data .status,
.contacts li:nth-child(7) .data .status {
    color: var(--DarkSilver);
}

.contacts li:nth-child(4) .data .count {
    background-color: var(--DarkSilver);
}

.contacts li:nth-child(6) .dialog h2 i {
    color: var(--PictonBlue);
}

/* ------- End edit child ---------- */

/* Footer */

#viber-app footer div {
    display: inline-block;
    height: 100%;
    width: 32%;
    text-align: center;
    font-size: 2em;
}

#viber-app footer div i,
#viber-app footer div p{
    vertical-align: middle;
    line-height: 1.2em;
}

#viber-app footer .calls,
#viber-app footer .more {
    color: var(--DarkSilver);
}

#viber-app footer .chats {
    color: var(--MediumSlateBlueD);
    position: relative;
}
#viber-app footer .chats p:last-child {
    position: absolute;
    top: 2%;
    right: 35%;
    color: white;
    background-color: var(--PictonBlue);
    font-size: 0.5em;
    padding: 0.1em 0.5em;
    border-radius: 100%;
}

/* -----End footer----------- */

/* Header */

#viber-app header .info {
    width: 100%;
    height: 30%;
    text-align: right;
    margin-top: 8px;
    margin-left: -25px;
    color: var(--DarkSilver);
}

#viber-app header .viber,
#viber-app header .search {
    display: inline-block;
    width: 49.6%;
    height: 70%;
    font-size: 2em;
}

#viber-app header .viber h1{
    font-weight: 700;
    padding-left: 25px;
}

#viber-app header .search div {
    text-align: right;
    padding-right: 25px;
}

#viber-app header .search div a {
    color: var(--MediumSlateBlueD);
}

/* End header */

/* Menu */

.mockPhone .screen .menu {
    position: absolute;
    font-size: 3em;
    background-color: var(--MediumSlateBlueD);
    bottom: 10%;
    right: 30px;
    padding: 0.4em;
    border-radius: 100%;
}

.mockPhone .screen .menu a {
    color: white;
}

/* End menu */