.header {
    background: linear-gradient(rgba($black-color, 0.6)), url(../images/bg-image-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 200px;
}

// Customizare navbar

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    .navbar-brand {
        img {
            padding-left: 4px;
        };
    }
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $bs-blue;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $bs-blue;
}

.navbar-light .navbar-nav .nav-link {
    font-family: $font-family-raleway;
    font-weight: 600;
    font-size: 13px;
    color: $bs-dark;
}
// customizare header
.header-social {
    font-size: 1.5em;
    padding: 4px;
    color: $white-color;
}

.header-text {
    color: $white-color;
    ul {
        list-style: none;
        padding: 0;
        i {
            color: $bs-blue;
            font-size: 1.5em;
            margin-right: .5em;
        }
    }
}

.header-form {
    padding: 30px 24px 60px 24px;
    background-color: rgba($black-color, 0.4);
    legend {
        color: $white-color;
        padding-bottom: 30px;        
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
    }
    button {
        padding: 15px 30px;
        &:hover {
            background-color: $btn-hover !important;
        }
    }
}
