.section-8 {
  background: linear-gradient(rgba($black-color, 0.6)),
    url(../images/bg-image-2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  h2 {
    color: $white-color !important;
    font-family: $font-family-source-sans-pro !important;
    font-size: 1.5em;
  }
  p {
    color: $white-color !important;
    font-family: $font-family-source-sans-pro !important;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 2em;
  }
  button {
    padding: 15px 30px;
    &:hover {
      background-color: $btn-hover !important;
    }
  }
}
