// font family
$font-family-raleway: 'Raleway', sans-serif !default;
$font-family-source-sans-pro: 'Source Sans Pro', sans-serif !default;
$font-standart: var(--bs-font-sans-serif) !default;
// color
$bs-dark: var(--bs-dark);
$white-color: #fff;
$black-color: #000;
$bs-blue: #008ed6;
$btn-hover: #0186ca;
$h-section-color: #323232;
$p-section-color: #727272;
$bg-section-color: #f7f8fa;