// font family
$font-family-raleway: 'Raleway', sans-serif !default;
$font-family-source-sans-pro: 'Source Sans Pro', sans-serif !default;
$font-standart: var(--bs-font-sans-serif) !default;
// color
$bs-dark: var(--bs-dark);
$white-color: #fff;
$black-color: #000;
$bs-blue: #008ed6;
$btn-hover: #0186ca;
$h-section-color: #323232;
$p-section-color: #727272;
$bg-section-color: #f7f8fa;
$border-color:  #e5e5e5;

$bs-purple: #8600c8;
$bs-blue-munsell: #0196a7;
$bs-orange: #ea8825;
$bs-slate: #6b798f;
$bs-green: #00ab66;
$bs-yellow: #e5c41a;
$bs-red: #f25454;