$container-lg: 1200px;
$space-lg: 1em;
$white: white;
$white-transparent: rgba(255, 255, 255, 0.75);
$gray-transparent: rgba(128, 128, 128, 0.75);
$gray-dark: #464d63;
$blue: #129fea;

a {
  text-decoration: none;
  color: inherit;
}

input {
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: "News Cycle", sans-serif;
}

.page {
  height: 100vh;
  width: 100vw;
  background-image: url(images/mountain.jpg);
  background-size: cover;
}

.page__ {
  &header,
  &content,
  &footer {
    width: $container-lg;
    margin: 0 auto;
    background-color: $white-transparent;
  }

  &content {
    main {
      width: 66%;
    }
    form {
      width: 33%;
    }
  }

  &header {
    ul {
      justify-content: space-between;
      //   align-items: center;
      li:first-child {
        flex-grow: 50;
        font-weight: 700;
      }
      li {
        flex-grow: 1;
        &:hover {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  &content {
    header,
    section {
      p {
        text-indent: 1.5em;
        line-height: 1.4em;
      }
      h1 {
        font-size: 1.6em;
        line-height: 1.4em;
        font-weight: 700;
        text-transform: uppercase;
      }
      h2 {
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: 700;
      }
    }
  }
  &footer {
      font-weight: 700;
  }
}

.p1 {
  padding: $space-lg;
}

.mr2 {
  margin-right: $space-lg * 2;
}

.dflex {
  display: flex;
}

.fcol {
  flex-direction: column;
}

.dgrid {
  display: grid;
  gap: $space-lg * 4;
  align-items: center;
}

.registration {
  align-content: space-between;
  border: 1px $gray-transparent solid;
  padding: 10px;
  justify-content: center;
  fieldset {
    * {
      margin-bottom: 8px;
    }
    legend {
        font-weight: 700;
    }
    input[type="text"] {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 1em;
        background-color: $white-transparent;
        border: 1px $gray-transparent solid;
        border-radius: 5px;
        outline: 0;
        box-shadow: inset 0 1px 3px $gray-dark;
        &:focus{
          box-shadow: inset 0 1px 3px $blue;
          border-color: $blue;
        }
    }
  }
}

.subscrib {

    justify-content: space-between;
    input {
        width: 1.5em;
        height: 100%; 
        margin-right: 10px;  
        
    }
    label {
        font-size: 0.8em;
        align-items: center;
        padding-right: 20px;
        text-decoration: underline;
    }
    button {
        font-weight: 700;
        height: 36px;
        border: 1px $gray-transparent solid;
        border-radius: 5px;
        background-color: $gray-dark;
        color: $white;
        box-shadow: 0 0 5px $gray-dark,
        0 0 10px $gray-dark,
        inset 0 0 5px $white-transparent,
        inset 0 0 10px $white-transparent;
        cursor: pointer;
        outline: none;
        &:active {
        box-shadow: 0 0 5px $gray-dark,
        0 0 10px $gray-dark !important;
        }
        &:hover {
          box-shadow: inset 0 0 5px $white-transparent,
                      inset 0 0 10px $white-transparent;
        }
    }
}

